@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br />
<p>Video</p>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
<video controls width="500">
    <source src="/Video/5948574-uhd_3840_2160_30fps.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<video controls width="500">
    <source src="/Video/7513671-uhd_3840_2160_24fps.mp4" type="video/mp4">
</video>