@page "/"
@inject IWebHostEnvironment WebHostEnvironment

<PageTitle>Home</PageTitle>

<div class="header">
    <h1>My Video App</h1>
</div>

<div class="main-content">
    @foreach (var videoFile in videoFiles)
    {
        var fileName = Path.GetFileName(videoFile);
        <div class="video-card">
            <video class="video-player" controls width="500">
                <source src="@($"/Video/{fileName}")" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="video-title">@fileName</div>
        </div>
    }
</div>

@code {
    private string?[] videoFiles;
    protected override void OnInitialized()
    {
        var videoFolderPath = Path.Combine(WebHostEnvironment.WebRootPath, "Video");
        videoFiles = Directory.GetFiles(videoFolderPath, "*.mp4").Select(Path.GetFileName).ToArray();
    }
}

<style>
    body {
        background-color: #f4f4f4;
        font-family: Arial, sans-serif;
    }

    .header {
        background-color: #1f1f1f;
        color: #fff;
        padding: 20px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .video-card {
        margin: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
    }

        .video-card .video-title {
            text-align: center;
            margin-top: 10px;
        }
</style>
